body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: auto;
    min-height: 100vh;
    height: auto;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

ul {
    list-style-type: none;
}
